# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env files
.env
.env.*

# FastAPI / local files
*.log
uploads/*
!uploads/.gitkeep

# Node
node_modules/
dist/
build/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/